__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.vscode/
.env
.venv
env/
venv/
.DS_Store
.idea/
.coverage
coverage.xml
*.log
*.sqlite3
*.parquet
*.csv
*.tsv
*.orig
pip-wheel-metadata/
node_modules/
.nox/
coverage-report/
/.rye/
profile_default/
/.cache/
*.bak